<!DOCTYPE html>
<html>

<head>
  <script src="../dist/sp.min.js"></script>
</head>

<body>
  <video id="video1" controls height="315" width="560">
    <source src="http://fastly.nicepeopleatwork.com.global.prod.fastly.net/video/sintel-1024-surround.mp4"
      type='video/mp4'>
  </video>

  <script>
    // init plugin
    if (typeof youbora != "undefined" &&
      typeof youbora.adapters.<%= adapterClass %> != "undefined") {
      // Turn on logs
      youbora.Log.logLevel = youbora.Log.Level.DEBUG
      window.plugin = new youbora.Plugin({
        'accountCode': 'nicedev',
        // 'user.name': 'dev',
        // 'user.obfuscateIp': false,
        // 'parse.manifest': true,
        // 'parse.CDNNode': true,
        // 'network.ip': '1.1.1.1',
        // 'network.isp': 'MyISP',
        // 'network.connectionType': 'dialup',
        // 'app.https': true,
        // 'content.transactionCode': 'myTransCode',
        // 'content.resource': 'mysrc.mp4',
        // 'content.isLive': true,
        // 'content.isLive.noSeek': false,
        // 'content.title': 'My Title',
        // 'content.program': 'My Program',
        // 'content.duration': 100,
        // 'content.fps': '100',
        // 'content.bitrate': 1000000,
        // 'content.throughput': 8000000,
        // 'content.rendition': 'My Rendition',
        // 'content.cdn': 'NICE264',
        // 'content.metadata': {
        //   custom_info: 'info'
        // },
        // 'content.metrics': {},
        // 'ad.title': 'Ad title',
        // 'ad.resource': 'fake.resource.com',
        // 'ad.campaign': 'campaign name',
        // 'ad.creativeId': 'creativeId',
        // 'ad.provider': 'provider',
        // 'ad.metadata': {
        //   custom_info: 'info'
        // },
        // 'ad.expectedPattern': {
        //   pre: [1],
        //   mid: [1,2],
        //   post: [1]
        // },
        // 'ad.ignore': false,
        // 'content.customDimension.1': 'myExtraParam1',
        // 'content.customDimension.2': 'myExtraParam2',
        // 'background.enabled': false,
        // 'background.settings': 'stop',
        // 'background.settings.android': 'stop',
        // 'background.settings.iOS': 'stop',
        // 'background.settings.desktop': 'stop',
        // 'background.settings.tv': 'stop',
        // 'offline': false,
        // 'session.context': false,
        // 'session.metrics': {}
      })

      plugin.setAdapter(new youbora.adapters.<%= adapterClass %> ('video1'))
    }
  </script>
</body>

</html>
